*{
    margin: 0;
    padding: 0%;
}
.c1{
    display: flex; 
    flex-direction: column; 
    align-items: center; border: 
    solid 2px; width: 350px; 
    height: auto; padding: 20px; 
    border-radius: 20px; margin: auto; 
    color: khaki; box-shadow: 1px 4px 4px 6px khaki;
    font-weight: 450;
}

.sign-up{
    width: 150px; 
    background-color: greenyellow; border-radius: 10px; border: solid greenyellow;
    font-weight: 450;
}
h1{color: khaki; display: flex; justify-content: center;}

body{
    background-image: linear-gradient(#000000, #434343);                
}

.sign-up:hover{
    background-color: red;
    border-color: red;
}

.error{
    color: silver;
    font-size: 14px;
    padding: 2px;
}
footer{
    background-color: #000000;
    color: silver;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 140px;
}
.imge{
    margin-top: 10px;
}